<div class="row row-border-bottom">
    <div class="column large-2">
        <img src="{{merchant.logo}}" title="{{merchant.name}}" class="store-logo" />
    </div>
    <div class="column large-2">
        {{merchant.name}}
    </div>
    <div class="column large-1">
        {{merchant.active}}
    </div>
    <div class="column large-1">
        {{merchant.affiliateId}}
    </div>
    <div class="column large-2">
        No Cashback yet
    </div>
    <div class="column large-2">
        <button type="button" class="success button" (click)="edit()" >Edit</button>
    </div>
    <div class="column large-2">
        <button type="button" class="alert button" (click)="delete()">Disable</button>
    </div>
</div>