<div class="row row-border-bottom">
    <div class="column large-2">
        <div class="row">
            <div class="column large-4"><img src="{{merchant.logo}}" title="{{merchant.name}}" class="store-logo" /> </div>
            <div class="column large-6" style="margin-left: -25px;">{{merchant.name}}</div>
            <div class="column large-2">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="column large-1">
        {{merchant.active}}
    </div>
    <div class="column large-2">
        {{merchant.affiliateId}}
    </div>
    <div class="column large-2">
        {{merchant.maxCashback}}
    </div>
    <div class="column large-2">
        <button type="button" class="success button">Edit</button>
    </div>
    <div class="column large-2">
        <button type="button" class="alert button" (click)="delete()">Disable</button>
    </div>
</div>