<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite for Top Spin's Auth Service" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">
    <test name="Authentication Tests" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.kgcorner.topspin.AuthServicesTestsRunner"/>
        </classes>
    </test>
</suite>