<div class="row row-border-with-height">
        <div class="column large-3">
             <img src="{{thumbnail}}" class="offer-image-thumbnail"> 
        </div>
        <div class="column large-3">
             {{offer.title}} 
        </div>
        <div class="column large-1">
             {{offer.store.name}} 
        </div>
        <div class="column large-1">
             {{offer.category.name}} 
        </div>
        <div class="column large-1">
             {{offer.maxDiscount}} 
        </div>
        <div class="column large-1">
             {{offer.featured}} 
        </div>
        <div class="column large-1">
             {{date}} 
        </div>
        <div class="column large-1">
            <button type="button" class="alert button" (click)="delete()" >Delete</button>
        </div>
    </div>